<section class="hero-image">
    {{#each body.dogCards as |dogCards|}} <!--  this doesn't look right -->
    <div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
        <a href="/dog/{{id}}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
        <div class="media-content">
            <p class="title is-4">{{name}}</p>
            <p class="subtitle">{{temperment}}</p>
            <p class="subtitle">{{life_span}}</p>
        </div>
        </div>

        <div class="content dogName">
         <p class="title">{{random_name}}</p>
         <button class="votebtn">
            <i class="far fa-bone fa-fw fa-xl"></i>
         </button>
         <button class="votebtn">
            <i class="fa-regular fa-bone-break"></i>
         </button>
        </div>
    </div>
    </div>
</section>

<!-- card content

    Dog picture
    Breed Info
    Height & Weight
    Temperment
    Life Span

    Suggested Name - vote yes/no

    each statement for dogs
 -->



